<app-navbar></app-navbar>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  placeholder="Search..." [(ngModel)]="searchText">
    </div>
  </div>
</div>

<div class="view-record" *ngFor="let workout of workouts | workoutfilter : searchText">
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [ngModel]="workout.title" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-outline-dark btn-block" [routerLink] = "['/Edit',workout.id]">Edit</button>
    </div>
    <div class="col-3">
      <button class="btn btn-outline-dark btn-block" (click)="removeWorkout(workout.id)" [disabled]="(activeWorkoutId > 0 && activeWorkoutId === workout.id) && workoutInProgress">Delete</button>
    </div>
    <div class="col-3">
      <button class="btn btn-outline-dark btn-block" [routerLink] = "['/Start',workout.id]" [disabled]="(!(activeWorkoutId > 0 && activeWorkoutId === workout.id) && workoutInProgress) || (workoutInProgress)">Start</button>
    </div>
    <div class="col-3">
      <button class="btn btn-outline-dark btn-block" [routerLink] = "['/End',workout.id]" [disabled]="!(activeWorkoutId > 0 && activeWorkoutId === workout.id)">End</button>
    </div>
  </div>
</div>
