<app-navbar></app-navbar>
<div *ngIf = "!dataAvailable; else other_content">
  No Data Available!
</div>
<ng-template #other_content>
  <div class="row justify-content-center">
    <div class="col-5">
      Workout time of the day
    </div>
    <div class="col-5">
      {{todaysWO}} Minutes
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      Workout time of the week
    </div>
    <div class="col-5">
      {{weeksWO}} Minutes
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      Workout time of the month
    </div>
    <div class="col-5">
      {{monthsWO}} Minutes
    </div>
  </div>
</ng-template>
